* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: #3e5093d3;
    --color-menu: #d5dad6;
    --bg-mampita: #1f3686;
}

/* mampita */
.sect-3{
    background: var(--bg-mampita);
    color: var(--color-menu);
    padding: 25px;
}
.sect-3 h2{
    text-align: center;
    color: white;
}
.sect-3 .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 14px;
}
.container h3,
.container h4{
    color: white;
}

.container h4{
    font-style: italic;
}
.container *{
    margin-bottom: 15px;
}

.container .left{
    width: 50%;
}

.container .left a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background: #bbb;
    padding: 5px 8px;
    font-size: 16px;
}
/* ---------------------------------------------------------------------- */
.sect-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image{
    width: 40%;
    
}
.image img {
    width: 100%;
}

.right{
    width: 40%;
    text-align: center;
}


.right h2,
.right h3,
.right hr {
    color: var(--bg-blue);
    font-size: 20px;
    margin: 8px 0;
}

.right h3 {
    font-style: italic;
}

.text p{
    line-height: 1.7;
}

.button {
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(85, 83, 83);
    color: var(--color-menu);
    border: none;
    padding: 10px 15px;
}

.right hr{
    border-style: dashed;
    border-width: 2px;
    color: var(--bg-blue);
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
}
